<% content_for :title, "Editing author" %>

<div class="container">
  <h1>Editing author</h1>

  <%= form_with(model: @author, class: "author-form") do |f| %>
    <% if @author.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>
        <ul>
          <% @author.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Update Author", class: "submit-button" %>
    </div>
  <% end %>

  <div class="author-actions">
    <%= link_to "View Details", @author, class: "author-link" %>
    <%= link_to "Back to authors", authors_path, class: "back-link" %>
  </div>
</div>
