<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Series:</strong>
    <%= book.series_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

  <p>
    <strong>Open library:</strong>
    <%= book.open_library_id %>
  </p>

  <p>
    <strong>Cover url:</strong>
    <%= book.cover_url %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= book.rating %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= book.comments %>
  </p>

  <p>
    <strong>Media type:</strong>
    <%= book.media_type %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= book.published_date %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Page count:</strong>
    <%= book.page_count %>
  </p>

  <p>
    <strong>Started reading at:</strong>
    <%= book.started_reading_at %>
  </p>

  <p>
    <strong>Finished reading at:</strong>
    <%= book.finished_reading_at %>
  </p>

</div>
