<% content_for :title, "Books" %>

<div class="container">
  <% if notice.present? %>
    <div class="notice"><%= notice %></div>
  <% end %>

  <h1>Books</h1>

  <%= link_to "New book", new_book_path, class: "new-book-button" %>

  <div class="book-grid">
    <% @books.each do |book| %>
      <div class="book-card">
        <% if book.cover_url.present? %>
          <%= image_tag book.cover_url, class: "book-cover" %>
        <% end %>
        <h2><%= book.title %></h2>
        <p class="book-author">by <%= book.author.name %></p>
        <span class="book-status status-<%= book.status.downcase %>"><%= book.status %></span>
        <div class="book-actions">
          <%= link_to "View Details", book, class: "book-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
